<%= form_for(@eye_glass) do |f| %>
  <% if @eye_glass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eye_glass.errors.count, "error") %> prohibited this eye_glass from being saved:</h2>

      <ul>
      <% @eye_glass.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :material %><br />
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :shape %><br />
    <%= f.text_field :shape %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :who_can_wear %><br />
    <%= f.text_field :who_can_wear %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
