<!-- this is a partial page -->


<%= form_for(@eye_glass) do |f| %>
    <% if @eye_glass.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@eye_glass.errors.count, "error") %> prohibited this eye_glass from being saved:</h2>

          <ul>
            <% @eye_glass.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :material %>
      <% #material = EyeGlass.find(:all, :select => 'DISTINCT material') %>
      <% eyeGlassMaterial = ['plastic', 'metal']#[] %>
      <%#material.each do |eachmaterial| %>
          <% #eyeGlassMaterial.push(eachmaterial.material)%>
      <% #end%>
      <%= f.select(:material, eyeGlassMaterial) %>
    </div>
    <div class="field">
      <%= f.label :color %>
      <% # color = EyeGlass.find(:all, :select => 'Distinct color') %>
      <%  eyeGlasscolor = ['silver', 'black'] %>
      <%# color.each do |l|  %>
          <%#  eyeGlasscolor.push(l.color)   %>
      <% #end %>
      <%= f.select(:color, eyeGlasscolor) %>
    </div>
    <div class="field">
      <%= f.label :shape %>
      <% shape = EyeGlass.find(:all, :select => 'Distinct shape') %>
      <%  eyeGlassshape = [] %>
      <% shape.each do |l|  %>
          <%  eyeGlassshape.push(l.shape)   %>
      <% end %>
      <%= f.select(:shape, eyeGlassshape) %>
    </div>
    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :who_can_wear %>
      <% wear = EyeGlass.find(:all, :select => 'Distinct who_can_wear') %>
      <%  eyeWear = [] %>
      <% wear.each do |l|  %>
          <%  eyeWear.push(l.who_can_wear)   %>
      <% end %>
      <%= f.select(:who_can_wear, eyeWear) %>
    </div>
    <div class="field">
      <%= f.label :image_url %>
      <% modelGL = ModelImage.find(:all, :select => 'Distinct image_url') %>
      <%  models = [] %>
      <% frames = [] %>
      <% modelGL.each do |l|  %>
          <%  models.push(l.image_url)   %>
          <% test = l.image_url%>

              <% frames.push(l.image_url[0,15] << '.png' )  %>

      <% end %>
      <%= f.select(:image_url, models)  %>
    </div>
    <div class="field">
      <%= f.label :frame_url %>
      <%= f.select(:frame_url,frames)%>
    </div>             <br>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
