<!DOCTYPE html>
<html>
<head>
  <title>TryGlasses1</title>
  <%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'jrails' %>
   <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "style" %>

</head>
<body>

<%= yield %>

</body>
</html>
